* {
	
	font-family: century gothic;
	text-align: center;
}

form {
	margin-top: 70px;
	padding-top: 28px;
}

h1 {
	text-align: center;
	padding: 12px;
	color: #444
}

input {
	padding: 9px;
	margin: auto;
	margin-top: 12px;
	font-size: 16px
}

input[type='submit']{
	background-color: #48e;
	color: #fff;
	margin: 0 10%;
	margin-top: 22px;
	border: none;
}


.ok {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #1e6;
	color: #fff;
	
}
.bad {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #a22;
	color: #fff
}